
@font-face {
    font-family: "Josefin Sans";
    src: url("../fonts/JosefinSans-Light.woff2") format("woff2"),
        url("../fonts/JosefinSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Alata";
    src: url("../fonts/Alata-Regular.woff2") format("woff2"),
        url("../fonts/Alata-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



:root {
    --acsent-text-color: #ffffff;
    --text-color: #000000;
    --title-fonts: "Josefin Sans", "Arial", sans-serif; 
    --hover-color: red;
}


*, *::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Alata", "Arial", sans-serif;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    background-color: #ffffff;
}

.container {
    width: 100%;
    max-width: 1154px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
}


/* HEADER-HERO-WRAPPER */

.header-hero-wrapper {
    background-color: #979797;
    background-image: url("../img/header-hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 160px;
}

.header {
    padding-top: 64px;
    margin-bottom: 130px;
}

.header-container {
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    justify-content: space-between;
}

.header-logo-link {
    color: var(--acsent-text-color);
    margin-right: 20px;
    display: flex;
    transition: 0.4s color ease;
}

.header-logo-link:hover {
    color: var(--hover-color);
}

.header-logo-link:active {
    opacity: 0.8;
}

.sitenav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.sitenav-item:not(:last-child) {
    margin-right: 32px;
}

.sitenav-link {
    color: var(--acsent-text-color);
    text-decoration: none;
    transition: color 0.4s ease;
}

.sitenav-link:hover {
    color: var(--hover-color);
}

.sitenav-link:active {
    text-decoration: underline;
    color: var(--acsent-text-color)
}

.hero-container {
    padding-bottom: 146px;
}

.hero-text {
    font-family: var(--title-fonts);
    font-weight: 300;
    margin: 0;
    padding: 40px;
    color: var(--acsent-text-color);
    text-transform: uppercase;
    font-size: 72px;
    line-height: 70px;
    width: 650px;
    border: 2px solid var(--acsent-text-color);
}


.leader {
    margin-bottom: 184px;
}

.leader-container {
    padding-left: 1.5px;
    padding-right: 1.5px;
    background-image: url("../img/leader-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 183px;
    padding-left: 570px;
}

.leader-info-wrapper {
    width: 541px;
    background-color: #fff;
    padding-top: 96px;
    /* margin-left: auto; */
    padding-left: 96px;
}

.leader-title {
    font-family: var(--title-fonts);
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    font-weight: 300;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.leader-text {
    line-height: 25px;
    opacity: 0.5;
    width: 445px;
    margin: 0;
}


.works-container {
    padding-bottom: 184px;
}

.works-top {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items:  center;
}

.works-title {
    font-family: var(--title-fonts);
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    margin-right: 10px;
    font-weight: 300;
}

.main-link {
    border: 1px solid #D8D8D8;
    display: flex;
    align-items: center;
    padding: 13px 43px 13px 38px;
    color: var(--text-color);
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 
        background-color 0.4s ease,
        color 0.4s ease,
        opacity 0.4s ease;
}

.main-link:hover {
    background-color: #000000;
    color: #fff;
    opacity: 0.8;
}

.main-link:active {
    opacity: 1;
}

.works-item-title {
    font-family: var(--title-fonts);
    font-size: 32px;
    line-height: 32px;
    color: var(--acsent-text-color);
    text-transform: uppercase;
    margin: 0;
    font-weight: 300;
}

.works-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -30px;
}

.works-item {
    width: 256px;
    padding-top: 354px;
    padding-bottom: 32px;
    padding-left: 40px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.works-item {
    margin-right: 20px;
}

.works-item:nth-child(4n) {
    margin-right: 0;
}

.works-item:nth-child(1) {
    background-image: url("../img/works-bg-1.jpg");
}

.works-item:nth-child(2) {
    background-image: url("../img/works-bg-2.jpg");
}

.works-item:nth-child(3) {
    background-image: url("../img/works-bg-3.jpg");
}

.works-item:nth-child(4) {
    background-image: url("../img/works-bg-4.jpg");
}

.works-item:nth-child(5) {
    background-image: url("../img/works-bg-5.jpg");
}

.works-item:nth-child(6) {
    background-image: url("../img/works-bg-6.jpg");
}


.works-item:nth-child(7) {
    background-image: url("../img/works-bg-7.jpg");
}

.works-item:nth-child(8) {
    background-image: url("../img/works-bg-8.jpg");
}


.site-footer {
    background-color: var(--text-color);
    color: var(--acsent-text-color);
    padding-top: 44px;
    padding-bottom: 55px;
}

.footer-container {
    padding-left: 1.5px;
    padding-right: 1.5px;
}

.footer-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo {
    color: var(--acsent-text-color);
    display: flex;
    transition: 0.4s color ease;
}

.footer-logo:hover {
    color: var(--hover-color);
}

.networking-icon {
    display: flex;
    align-items: center;
}

.icon-link {
    color: var(--acsent-text-color);
    display: inline-block;
    transition: color 0.4s ease;
}

.icon-link:not(:last-child) {
    margin-right: 16px;
}

.icon-link:hover {
    color: var(--hover-color);
}

.icon-link:active {
    color: var(--acsent-text-color);
    text-decoration: underline;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-nav {
    margin-right: 10px;
}

.footer-text {
    opacity: 0.5;
    margin: 0;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .leader-container {
        background-image: url("../img/leader-bg@2x.jpg");
    }
    .header-hero-wrapper {
        background-image: url("../img/header-hero-bg@2x.jpg");
    }
    .works-item:nth-child(1) {
        background-image: url("../img/works-bg-1@2x.jpg");
    }
    .works-item:nth-child(2) {
        background-image: url("../img/works-bg-2@2x.jpg");
    }
    .works-item:nth-child(3) {
        background-image: url("../img/works-bg-3@2x.jpg");
    }
    .works-item:nth-child(4) {
        background-image: url("../img/works-bg-4@2x.jpg");
    }
    .works-item:nth-child(5) {
        background-image: url("../img/works-bg-5@2x.jpg");
    }
    .works-item:nth-child(6) {
        background-image: url("../img/works-bg-6@2x.jpg");
    }
    .works-item:nth-child(7) {
        background-image: url("../img/works-bg-7@2x.jpg");
    }
    .works-item:nth-child(8) {
        background-image: url("../img/works-bg-8@2x.jpg");
    }
}
